@page
@model Server.Pages.Account.AccessDeniedModel

@{
	var pageTitle = "Access Denied!";

	Layout = "Layouts/_Security";
	ViewData["PageTitle"] = pageTitle;
}

<div class="container">
	<h1>
		Access Denied!
	</h1>
</div>
