<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow fixed-top border-bottom">
		<div class="container">
			<a class="navbar-brand" asp-page="/Index">
				Learning Authentication & Authorization
			</a>

			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbarSupportedContent" class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" asp-page="/Index">
							Home
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" asp-page="/About">
							About
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" asp-page="/Contact">
							Contact
						</a>
					</li>
				</ul>

				<partial name="PartialViews/_LoginStatus" />
			</div>
		</div>
	</nav>
</header>
